body{
  background-color: #2C3037;
  color:white;
  text-align:center;
}
.App {
  display: flex;
  flex-direction: row; 
}

.Form {
  margin: 10px 10px 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  flex: 0 0 30%;
}
.action-button {
  background-color: green;
  color: white;
  margin: 20px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
.inline {
  display: inline-block;
}

.Trace {
  margin: 10px 20px 10px 10px;
  background-color: white;
  color: black; 
  border-radius: 5px;   
  flex: 1;
  text-align: left;
  padding-left: 5px;
  min-height:400px;
}
.Trace ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Trace h1 {
  text-align: center;
}
.Trace button {
  float:right;
}